---
format: 
  html:
    toc: true
execute:
  echo: true
---

# Explore the Universal Thermal Climate Index (UTCI) data of Philadelphia

The study area is Philadelphia, Pennsylvania, USA, a major urban center with diverse urban characteristics. Philadelphia is the sixth-most populous city in the U.S. and is known for its dense urban layout, historical architecture, and significant variation in neighborhood demographics and infrastructure. The city comprises 408 census tracts, which serve as fundamental spatial units for analyzing urban environmental variables. 

The Universal Thermal Climate Index (UTCI) is a comprehensive metric used to assess outdoor thermal comfort and human heat stress under varying climatic conditions. Unlike simple temperature measures, UTCI integrates air temperature, humidity, wind speed, and radiant heat to evaluate the perceived temperature's impact on the human body. Widely applied in urban planning, climate studies, and public health, UTCI provides a standardized and globally applicable framework for understanding how environmental factors influence human thermal comfort and well-being.

1. **Show the UTCI data map of Philadelphia** <br>
The spatio-temporal distribution of the UTCI from 8 a.m. to 7 p.m. in Philadelphia reveals significant diurnal variations in heat stress across the city. UTCI values begin relatively low in the early morning at 8 a.m., with values ranging from approximately [27.9]°C to [33.4]°C. As the day progresses, UTCI values steadily increase, peaking around midday and early afternoon (12 p.m. to 3 p.m.), reaching maximum levels between [37.0]°C and [38.9]°C. During these peak hours, large portions of the city experience heightened heat stress, especially in areas with vacant land and less vegetation in Northeast Philadelphia. By late afternoon (4 p.m. onward), UTCI values begin to decrease gradually, with noticeable reductions in heat stress by 6 p.m. and continuing into the evening hours. At 7 p.m., the UTCI drops to values between [26.3]°C and [30.6]°C, reflecting the cooling effect as solar radiation diminishes. This temporal pattern demonstrates the peak heat exposure period in the early afternoon and emphasizes the importance of targeted interventions during these high-risk hours to mitigate heat stress impacts in vulnerable urban areas

![Fig 1. UTCI data in Philadelphia](../images/ST_DISTRIBUTION.jpg)

2. **Show the Bus Stop data map of Philadelphia** <br>
Philadelphia's public transit system, operated by the Southeastern Pennsylvania Transportation Authority (SEPTA), includes 145 bus routes and 8,126 bus stops across the city, providing extensive coverage and accessibility for residents. This extensive network of bus stops presents an ideal context for studying heat stress at the transit micro-level. Philadelphia’s spatial diversity offers a robust basis for examining the relationship between heat stress around bus stops and the surrounding environment, providing insights into equitable urban planning and transit policy

![Fig 2. Bus Stops in Philadephia](../images/BusStops.png)

3. **Show the Bus Stop heat stress map of Philadelphia** <br>
To analyze the average temperature of bus stops across different time frames, we observe from Figure 3 that the temperature starts to rise steadily between 8:00 AM and 1:00 PM, eventually reaching a plateau around 1:00 PM. From 1:00 PM to 6:00 PM, the temperature gradually declines at a slow and consistent rate. However, after 6:00 PM, the temperature drops sharply, falling below 30°C by 7:00 PM, marking a significant decrease in overall temperature across all bus stops.

![Fig 2. All Bus Stops' Average Temperature by Time](../images/AvgTempByTime.png)

In each time frame, the bus stop with the highest and lowest temperature is identified as Table 1 shown below:

In [ ]:
# Load the CSV file
import pandas as pd
extreme_temps_df = pd.read_csv('temperature_extremes.csv')

# Display the extreme temperature DataFrame
display(extreme_temps_df.style.set_caption("Table 1. Highest and Lowest Temperatures for Each Time Frame").hide_index())

C:\Users\25077\AppData\Local\Temp\ipykernel_2336\336461269.py:6: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  display(extreme_temps_df.style.set_caption("Highest and Lowest Temperatures for Each Time Frame").hide_index())

4. Explore 1: in each time frame, which is the highest-temp bus stop and which is the lowest temp.
5. Explore 2: which bus stop has the highest avg temp.